.Cover {
  .MonumentPark {
    background: $yankee-blue;
    color: #fff;
    position: relative;

    header {
      height: 160px;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;

      .container {
        align-items: center;
        display: flex;
        height: inherit;

        > div {
          width: 33.3333333333%;
        }

        .logo {
          align-items: center;
          display: flex;
          justify-content: center;

          .pinstripes {
            background: $yankee-blue;
            border-radius: 50%;
            height: 2rem;
            margin-right: 1rem;
            overflow: hidden;
            position: relative;
            text-align: center;
            width: 2rem;

            ul {
              height: inherit;

              li {
                background: #fff;
                display: inline-block;
                height: inherit;
                margin: 0 .25rem;
                width: 2px;
              }
            }
          }

          h1 {
            color: #fff;
            font-size: 1.5rem;
            letter-spacing: .2rem;
            text-transform: uppercase;

            span {
              font-weight: 100;
            }
          }
        }

        .Wallet {
          display: flex;
          justify-content: right;

          .btn {
            align-items: center;
            display: flex;

            img {
              display: block;
              height: 2rem;
              margin-right: .5rem;
            }
          }
        }
      }
    }

    main {
      padding-top: 5rem;

      .Game {
        canvas {
          display: block;
          margin: 0 auto;
        }
      }

      .Swing {
        padding-bottom: 3rem;
        text-align: center;

        .btn {
          margin-right: 1rem;

          &:last-of-type {
            margin-right: 0;
          }
        }
      }
    }
  }
}
