.CompanyCover {
  position: relative;

  .Cover {
    padding: 10rem 0;

    .CoverLetter {
      .logo {
        img {
          display: block;
          height: 3rem;
          margin: 0 auto 3rem;
        }
      }

      p {
        margin-bottom: 1.5rem;
        text-align: center;

        &:last-of-type {
          margin-bottom: 3rem;
        }
      }

      .buttonContainer {
        text-align: center;

        a {
          display: inline-block;
          margin-right: 1rem;

          &:last-of-type {
            margin-right: 0;
          }
        }
      }
    }

    .ProgressiveCoverLetter {
      .logo {
        background: #e6e6e6;
        height: 3rem;
        width: 8rem;
        margin: 0 auto 3rem;
      }

      p {
        background: #e6e6e6;
        height: 1.5rem;
        margin-bottom: 1.5rem;

        &:last-of-type {
          margin-bottom: 3rem;
        }
      }

      .buttonContainer {
        display: flex;
        justify-content: center;

        > div {
          background: #e6e6e6;
          height: 2.5rem;
          margin-right: 1rem;
          width: 5rem;

          &:last-of-type {
            margin-right: 0;
          }
        }
      }
    }
  }

  .MonumentPark {
    background: $yankee-blue;
    color: #fff;
    position: relative;

    header {
      height: 160px;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;

      .container {
        align-items: center;
        display: flex;
        height: inherit;

        > div {
          width: 33.3333333333%;
        }

        .logo {
          align-items: center;
          display: flex;
          justify-content: center;

          .pinstripes {
            background: $yankee-blue;
            border-radius: 50%;
            height: 2rem;
            margin-right: 1rem;
            overflow: hidden;
            position: relative;
            text-align: center;
            width: 2rem;

            ul {
              height: inherit;

              li {
                background: #fff;
                display: inline-block;
                height: inherit;
                margin: 0 .25rem;
                width: 2px;
              }
            }
          }

          h1 {
            color: #fff;
            font-size: 1.5rem;
            letter-spacing: .2rem;
            text-transform: uppercase;

            span {
              font-weight: 100;
            }
          }
        }

        .Wallet {
          display: flex;
          justify-content: right;

          .btn {
            align-items: center;
            display: flex;

            img {
              display: block;
              height: 2rem;
              margin-right: .5rem;
            }
          }
        }
      }
    }

    main {
      padding-top: 5rem;

      .Game {
        min-height: 640px;

        canvas {
          display: block;
          margin: 0 auto;
        }
      }

      .Swing {
        padding-bottom: 3rem;
        text-align: center;

        .btn {
          margin-right: 1rem;

          &:last-of-type {
            margin-right: 0;
          }
        }
      }
    }
  }

  .MonumentParkRulesAndLeaderboard {
    padding: 5rem 0;

    .container {
      display: flex;

      .rules {
        width: 66.6666666667%;


        h2 {
          font-size: 1.5rem;
          margin-bottom: 3rem;
          text-transform: uppercase;
        }

        ul {
          padding: 0 3rem;

          li {
            line-height: 1.25rem;
            list-style: initial;
            margin-bottom: 1.5rem;

            span {
              font-weight: 700;
            }
          }
        }
      }

      .Leaderboard {
        width: 33.3333333333%;

        h2 {
          font-size: 1.5rem;
          margin-bottom: 3rem;
          text-transform: uppercase;
        }

        ul {
          border: 1px solid #e6e6e6;
          padding: 1.5rem;

          li {
            align-items: center;
            display: flex;
            margin-bottom: 1.5rem;

            &:last-of-type {
              margin-bottom: 0;
            }

            .place {
              color: #ccc;
              font-size: .75rem;
              margin-right: 1.5rem;
            }

            .address {
              flex-grow: 2;
            }

            .distance {
              font-weight: 700;
            }
          }
        }
      }
    }
  }

  .Modal {
    .overlay {
      background: rgba( 0, 0, 0, .8 );

      .content {
        box-shadow: none;

        .PlayResult {
          img {
            display: block;
            margin-bottom: 1.5rem;
            width: 100%;
          }

          
        }
      }
    }
  }
}
