.Index {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  position: relative;

  .indexContainer {
    .Namesake {
      position: relative;
      z-index: 1;

      h1 {
        align-items: center;
        display: flex;
        position: relative;
        transition: opacity 1s;

        &.fade {
          opacity: 0;
        }

        .Letters {
          height: 8rem;
          margin-right: 2rem;
          overflow: hidden;
          text-align: center;
          width: 8rem;

          &:last-of-type {
            margin-right: 0;
          }

          > div {
            height: inherit;
            transition: transform 2s;
          }
        }
      }

      .Air {
        left: 0;
        position: absolute;
        top: 50%;
        transform: translate3d( 0, -50%, 0 );
        width: 100%;

        h2 {
          align-items: center;
          display: flex;
          justify-content: center;

          .Letter {
            margin-right: 9.5rem;
            opacity: 1;
            transition: opacity 1s;

            &:last-of-type {
              margin-right: 0;
            }

            &.fade {
              opacity: 0;
            }
          }
        }
      }
    }

    .QuoteAndLinks {
      left: 0;
      padding: 3rem 0;
      position: absolute;
      top: 50%;
      text-align: center;
      transform: translate3d( 0, 4rem, 0 );
      transition: opacity 1s;
      width: 100%;
      z-index: 1;

      &.fade {
        opacity: 0;
      }

      .Quote {
        margin-bottom: 3rem;

        p {
          color: #ccc;
          font-size: 1.25rem;
          font-style: italic;
          line-height: 1.5rem;
          text-align: center;
        }
      }

      .Links {
        button {
          margin-bottom: 1.5rem;
        }

        ul {
          li {
            display: inline-block;
            font-size: 1.5rem;
            height: 24px;
            margin-right: 1rem;

            &:last-of-type {
              margin-right: 0;
            }

            &.peffercorn {
              height: 25px;
              width: 20px;
              position: relative;

              &:hover {
                .active {
                  display: block;
                }

                .default {
                  display: none;
                }
              }

              img {
                height: 22px;
                left: 0;
                position: absolute;
                top: 1px;
                vertical-align: top;

                &.active {
                  display: none;
                }
              }
            }

            a {
              color: #333;

              &:hover {
                color: $primary;
              }

              img,
              svg {
                display: block;
              }
            }
          }
        }
      }
    }

    .JordanLogo {
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate3d( -50%, -50%, 0 );
      z-index: 0;

      img {
        display: block;
        height: 400px;
        opacity: .05;
        transform-origin: bottom right;
        transition: opacity 1s;
        z-index: 0;

        &.fade {
          opacity: 0;
        }

        &.fall {
          animation: fall 4s forwards;
          animation-timing-function: ease-in-out;
        }
      }
    }
  }
}

@keyframes fall {
  0% { transform: rotate( 0deg ); }
  50% { transform: rotate( -225deg ); }
  80% { transform: rotate( -90deg ); }
  100% { transform: rotate( -90deg ) translate3d( -50vh, 0, 0 ); }
}
