.Index {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  position: relative;

  .indexContainer {
    position: relative;

    .Air {
      h2 {
        align-items: center;
        display: flex;
        justify-content: center;
        left: 0;
        position: absolute;
        top: 50%;
        transform: translate3d( 0, -50%, 0 );
        width: 100%;

        .Letter {
          margin-right: 9.5rem;
          opacity: 1;
          transition: opacity 1s;

          &:last-of-type {
            margin-right: 0;
          }

          &.fade {
            opacity: 0;
          }
        }
      }
    }

    .Namesake {
      h1 {
        align-items: center;
        display: flex;
        position: relative;
        transition: opacity 1s;

        &.fade {
          opacity: 0;
        }

        .Letters {
          height: 8rem;
          margin-right: 2rem;
          overflow: hidden;
          text-align: center;
          width: 8rem;

          &:last-of-type {
            margin-right: 0;
          }

          > div {
            height: inherit;
            transition: transform 2s;
          }
        }
      }
    }

    .Source {
      left: 0;
      position: absolute;
      text-align: center;
      top: 50%;
      transform: translate3d( 0, 8rem, 0 );
      transition: opacity 1s;
      width: 100%;
      z-index: 1;

      &.fade {
        opacity: 0;
      }
    }

    .JordanLogo {
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate3d( -50%, -50%, 0 );
      z-index: 0;

      img {
        display: block;
        height: 400px;
        opacity: .05;
        transform-origin: bottom right;
        transition: opacity 1s;
        z-index: 0;

        &.fade {
          opacity: 0;
        }

        &.fall {
          animation: fall 4s forwards;
          animation-timing-function: ease-in-out;
        }
      }
    }
  }
}

@keyframes fall {
  0% { transform: rotate( 0deg ); }
  50% { transform: rotate( -225deg ); }
  80% { transform: rotate( -90deg ); }
  100% { transform: rotate( -90deg ) translate3d( -50vh, 0, 0 ); }
}
