body {
  background: #fff;
  color: #333;
  font-family: 'Kanit', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1;
  min-width: 320px;

  a {
    color: $primary;
    text-decoration: none;

    &:hover {
      color: $primary;
    }
  }

  h1 {
    font-size: 8rem;
    font-weight: 900;
    line-height: 1;
    margin: 0;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 100;
    line-height: 1;
    margin: 0;
  }

  li {
    list-style: none;
  }

  p {
    margin: 0;
  }

  ul,
  li {
    margin: 0;
    padding: 0;
  }
}
